#formulaire1
{
	position:absolute;
	width:500px;
	height:400px;
	top:70px;
}
#titre1
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste1
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche1
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:30px;
}
#formulaire2
{
	position:absolute;
	width:500px;
	height:400px;
	top:70px;
}
#titre2
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste2
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche2
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:30px;
}
#formulaire3
{
	position:absolute;
	width:500px;
	height:400px;
	top:70px;
}
#titre3
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste3
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche3
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:30px;
}
#formulaire4
{
	position:absolute;
	width:500px;
	height:400px;
	top:70px;
}
#titre4
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste4
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche4
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:30px;
}
#formulaire5
{
	position:absolute;
	width:500px;
	height:400px;
	top:70px;
}
#titre5
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste5
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche5
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:30px;
}

#formulaire6
{
	position:absolute;
	width:50px;
	height:400px;
	top:70px;
}
#titre6
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste6
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}
#recherche6
{
	position:absolute;
	width:600px;
	height:100px;
	left:550px;
	top:300px;
	
}





#titre
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:300px;
}
#liste
{
	position:absolute;
	width:600px;
	height:400px;
	left:550px;
	top:400px;
	overflow:auto;
}